<!-- HEADER -->
<header class="head container-fluid">
  <div class="head-content d-flex justify-content-center align-items-center h-100">
    <div class="content">
      <p class="m-0">¡Hola! Bienvenido a </p>
      <h1><span id="typed"></span></h1>
      <a href="tienda" class="btn btn-outline-light">Tienda</a>
    </div>
  </div>
</header>
<!-- FIN HEADER -->

<main class="container fachada">
  <h2 class="text-center separador mb-4">Contacto</h2>
  <div class="row">

    <div class="col-md-7">
      <img src="assets/img/dummy/fachada.jpg" alt="Fachada del negocio" class="shadow">
    </div>

    <div class="col-md-5">
      <div class="row">

        <div class="col-sm-6 datos">
          <div class="icono">
            <i class="fas fa-mobile-alt"></i>
          </div>
          <p class="h6 font-weight-bold">Teléfono</p>
          <p>411160186</p>
        </div>

        <div class="col-sm-6 datos">
          <div class="icono">
            <i class="fas fa-map-marker-alt"></i>
          </div>
          <p class="h6 font-weight-bold">Domicilio</p>
          <p>Hidalgo #130</p>
          <p>C.P. 38300</p>
          <p>Cortazar, Gto.</p>
        </div>

        <div class="col-sm-12 datos">
          <div class="icono">
            <i class="far fa-clock"></i>
          </div>
          <p class="h6 font-weight-bold">Horario de Atencion</p>
          <p><span class="font-weight-bold">Lunes a Viernes:</span> 10:30 - 15:00 hrs y 17:00 - 20:00 hrs.</p>
          <p><span class="font-weight-bold">Sábados:</span> 9:30 - 15:00 hrs</p>
          <p><span class="font-weight-bold">Jueves:</span> 10:30 - 15 hrs</p>
        </div>
      </div>
    </div>

  </div>
</main>

<section class="card formulario-contacto">
  <div class="card-header">
    Formulario de Contacto
  </div>
  <div class="card-body">

    <form method="POST">
      <div class="form-group">
        <label for="email" class="col-form-label">E-mail</label>
        <input type="email" class="form-control shadow-sm" placeholder="Email" name="email" id="email">
      </div>

      <div class="form-group">
        <label for="asunto" class="col-form-label">Asunto</label>
        <input type="asunto" class="form-control shadow-sm" placeholder="Asunto" name="asunto" id="asunto">
      </div>

      <div class="form-group">
        <label for="mensaje" class="col-form-label">Mensaje</label>
        <textarea type="mensaje" class="form-control shadow-sm" placeholder="Siéntete libre de dejar tus comentarios..." name="mensaje" id="mensaje"
          rows="8"></textarea>
      </div>

      <input type="submit" class="btn btn-primary enviar">
    </form>

  </div>
</section>