<!-- HEADER -->
<header class="head container-fluid">
  <div class="head-content d-flex justify-content-center align-items-center h-100">
    <div class="content">
      <p class="m-0">¡Hola! Bienvenido a </p>
      <h1><span id="typed"></span></h1>
      <a href="tienda" class="btn btn-outline-light">Tienda</a>
    </div>
  </div>
</header>
<!-- FIN HEADER -->

<div class="forma-cara-intro my-5 container">
  <h2 class="text-center">Preguntas Frecuentes</h2>
  <p class="text-center separador text-muted mt-1">Respondemos a las preguntas más comúnes, para que no te quedes con ninguna duda</p>
</div>

<main class="container preguntas mb-5">
  <div class="row">
    <div class="col-md-4">
      <h3>Garantías</h3>
      <div class="pregunta-respuesta">
        <p class="pregunta">¿Cuáles son las garantías con las que cuentan mis lentes? <i class="fas fa-caret-up"></i></p>
        <ul class="respuesta">
          <li>Para tus lentes oftálmicos y/o solares con o sin graduación, cuentas con garantías de calidad e imagen</li>
          <li>Para las micas y/o tratamientos puedes solicitar garantías de: Adaptación, Imagen y Calidad.</li>
          <li>En los lentes de contacto, contamos con las garantías de: Adaptación, Imagen y Calidad.</li>
          <li>Aplica en armazones oftálmicos o solares graduados, y lentes de contacto con graduación.</li>
        </ul>
      </div>

      <div class="pregunta-respuesta">
        <p class="pregunta">¿Cuánto tiempo de vigencia tengo para hacer válidas las garantías?<i class="fas fa-caret-up"></i></p>
        <p class="respuesta">
          Lor armazones disponen de una garantía de medio año por defectos de fábrica y las micas dos semanas contra defecto de fábrica o incomodidad en la
          graduación
        </p>
      </div>

      <div class="pregunta-respuesta">
        <p class="pregunta">
          Si no me siento cómodo con la graduación, ¿Qué garantía solicito?<i class="fas fa-caret-up"></i></p>
        <p class="respuesta">
          Visita nuestra sucursal, puedes solicitar la Garantía de Adaptación, esto hasta que tu visión sea nítida y clara. Lleva tu ticket para hacerla valida.
        </p>
      </div>

      <div class="pregunta-respuesta">
        <p class="pregunta">
          Si ya no me gustó el color de mis lentes, me los pueden cambiar?<i class="fas fa-caret-up"></i></p>
        <p class="respuesta">
          Si quieres cambiar el color, diseño, o tamaño solicita la Garantía de Imagen* de tus lentes. Solo llévalos a la óptica de tu preferencia junto con el
          ticket para hacerla válida. El producto para cambio debe estar en buenas condiciones, sin rayaduras y con su estuche, paño y empaque original.
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <h3>Lentes oftálmicos</h3>
      <div class="pregunta-respuesta">
        <p class="pregunta">¿El precio que aparece en el armazón es el costo total del trabajo completo?<i class="fas fa-caret-up"></i></p>
        <p class="respuesta">
          No, ya que el costo es por separado armazón, micas y tratamientos.
        </p>
      </div>

      <div class="pregunta-respuesta">
        <p class="pregunta">¿Con que accesorios se entrega el producto?<i class="fas fa-caret-up"></i></p>
        <p class="respuesta">
          Se entregan con el estuche y paño del armazón (Dependiendo de la marca y modelo).
        </p>
      </div>

      <div class="pregunta-respuesta">
        <p class="pregunta">¿Cuáles son los lentes que te protegen al utilizar la computadora?<i class="fas fa-caret-up"></i></p>
        <p class="respuesta">
          Manejamos el tratamiento Eyezen que protege tus ojos de la luz digital (filtra la luz azul), te compartimos información del tratamiento en la
          siguiente liga: <a href="http://www.eyezen.com.mx/" target="_blank">http://www.eyezen.com.mx/</a>
        </p>
      </div>

      <div class="pregunta-respuesta">
        <p class="pregunta">¿Fechas de entrega?<i class="fas fa-caret-up"></i></p>
        <p class="respuesta">
          En armazones oftálmicos es en un periodo de 10-15 días hábiles, en armazones solares es de 8-10 días hábiles.
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <h3>Atención a clientes</h3>
      <div class="pregunta-respuesta">
        <p class="pregunta">¿Cómo puedo saber el status de mis lentes?<i class="fas fa-caret-up"></i></p>
        <p class="respuesta">
          Con gusto en óptica pueden informarle el status de su pedido o bien puede ponerse en contacto con nosotros con cualquiera de las formas que se
          encuentran en nuestra paǵina de <a href="/contacto">contacto</a>
          y con gusto lo atenderemos para que pueda verificar en que proceso se encuentra su orden de pedido.
          Es importante que tenga a la mano su ticket de compra ya que se le solicitarán algunos datos que aparecen en el mismo
        </p>
      </div>

      <div class="pregunta-respuesta">
        <p class="pregunta">No veo bien con mis lentes, ¿qué puedo hacer?<i class="fas fa-caret-up"></i></p>
        <p class="respuesta">
          Le recomendamos acudir a óptica para la realización de un nuevo examen aplicando su garantía de adaptación que tiene una vigencia de 2 semanas para
          lente oftálmico y 90 días para lente de contacto graduado a partir de la fecha de entrega.
        </p>
      </div>

      <div class="pregunta-respuesta">
        <p class="pregunta">¿Qué convenios especiales tienen? (empleados de gobierno, maestros, etc)<i class="fas fa-caret-up"></i></p>
        <p class="respuesta">
          Para conocer más sobre de los convenios favor de comunicarse con con nosotros con cualquiera de las formas que se
          encuentran en nuestra paǵina de <a href="contacto">contacto</a>
        </p>
      </div>

      <div class="pregunta-respuesta">
        <p class="pregunta">¿Cómo puedo hacer una cotización?<i class="fas fa-caret-up"></i></p>
        <p class="respuesta">
          Para una cotización debes asistir a la sucursal de tu preferencia o puedes simular el proceso de compra y el precio te aparecerá en la parte superior
          derecha.
        </p>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-4">
      <h3>Lentes de Contacto</h3>
      <div class="pregunta-respuesta">
        <p class="pregunta">¿Qué marca es la más adecuada a mis necesidades?<i class="fas fa-caret-up"></i></p>
        <p class="respuesta">
          Te invito a que nos visites en nuestra sucursal para realizarte examen de la vista y recomendarte los lentes de acuerdo a tú diagnóstico obtenido.
        </p>
      </div>

      <div class="pregunta-respuesta">
        <p class="pregunta">¿Cuáles son las ventajas y desventajas de utilizar LC?<i class="fas fa-caret-up"></i></p>
        <p class="respuesta">
          Son como pequeñas gafas que se adaptan al ojo, funcionan de manera muy similar al armazón oftálmico: refractan y enfocan la luz para que veamos los
          objetos con claridad, las lentes se adhieren al fluido lagrimal de la superficie del ojo, se mueven de manera natural con él, son estéticos y
          facilitan realizar tus actividades deportivas. Estas son algunas de las ventajas que los lentes de contacto tienen respecto a las gafas.
          Requieren de suma higiene para evitar infecciones en caso de tener contacto con objetos contaminados.
        </p>
      </div>

      <div class="pregunta-respuesta">
        <p class="pregunta">¿Qué colores manejan?<i class="fas fa-caret-up"></i></p>
        <p class="respuesta">
          Manejamos transparente (clásico), azul, gris, hazel y verde.
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <h3>Lentes Solares</h3>
      <div class="pregunta-respuesta">
        <p class="pregunta">¿Se pueden graduar los lentes Solares?<i class="fas fa-caret-up"></i></p>
        <p class="respuesta">
          Si, depende de las micas y del modelo. La mayoría de los lentes de sol se pueden graduar (más del 80%).
        </p>
      </div>

      <div class="pregunta-respuesta">
        <p class="pregunta">¿Cómo consultar las características de un armazón (medidas)?<i class="fas fa-caret-up"></i></p>
        <p class="respuesta">
          Puedes consultar en nuestra página el modelo de tu interés y obtener en el apartado más información acerca de tamaño, diámetro, color, género, marca,
          detalles y disponibilidad en tienda.
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <h3>Consultas</h3>
      <div class="pregunta-respuesta">
        <p class="pregunta">¿Cuánto cuesta una consulta?<i class="fas fa-caret-up"></i></p>
        <p class="respuesta">
          El precio de una consulta es de $200 MX. Incluye el examen de la vista.
        </p>
      </div>

      <div class="pregunta-respuesta">
        <p class="pregunta">¿Puedo hacer una cita?<i class="fas fa-caret-up"></i></p>
        <p class="respuesta">
          No, no trabajamos mediante citas, se atienden a los pacientes conforma van llegando al establecimiento
        </p>
      </div>

      <div class="pregunta-respuesta">
        <p class="pregunta">¿A qué edad me puedo realizar la cirugía láser?<i class="fas fa-caret-up"></i></p>
        <p class="respuesta">
          La cirugía láser se puede realizar a partir de los 21 años. Te recomendamos acudir antes a una valoración para revisar tu caso y darte la mejor
          opción.
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <h3>Factura</h3>
      <div class="pregunta-respuesta">
        <p class="pregunta">¿Dónde puedo solicitar mi factura? <i class="fas fa-caret-up"></i></p>
        <p class="respuesta">
          La única forma es directamente en la óptica donde realizó su compra.
          O también puedes comunicarte a nuestro teléfono de contacto 4111601866 y solicitarla.
        </p>
      </div>
    </div>

  </div>


</main>