<div class="row mb-2">
  <div class="col-sm-12 d-flex justify-content-center align-items-center" style="height:60vh">
    <h1 class="m-0">No tienes permiso para realizar esta acción</h1>
  </div><!-- /.col -->
</div>